*{
    margin: 0px;
    padding: 0px;
    font-family: Titillium Web;
    /* font-family: Bree Serif; */
}
::-webkit-scrollbar{
    display: none;
}
body{
    overflow-x: hidden;
}
html{
    scroll-behavior:smooth;
}
.navbar-brand img{
    width: 100px;
    height: 60px;
    margin-left: -20px;
}
#hy:hover{
    color: blue;
}
.navbar-brand{
    /* font-family:fantasy; */
    /* font-family: Abril Fatface; */
    font-family: Oswald;
    font-style: italic;
    font-weight: bold;
}
.carousel-item img{
    height: 750px;
    z-index: -1;
    /* opacity: .9; */
}
.carousel-item h1{
    font-size: 70px;
    /* color: rgb(60, 2, 2); */
    font-weight: bold;
    font-family:Black Ops One;
    /* color: rgb(6, 176, 249); */
}
.caroubtn{
    padding: 20px 60px 20px 60px;
    width: 400px;
    margin-top: 80px;
    font-size: 25px;
    border-radius: 30px;
    background-color: yellow;
    border-color: yellow;
    color: white;
    font-weight: bold;
    animation: btn 0.2s ease-in-out 1s infinite;
}
@keyframes btn {
    0%{
        background-color: yellow;
        border-color: yellow;
    }
    50%{
        background-color: rgb(246, 8, 8);
        border-color: rgb(246, 8, 8);
    }
    100%{
        background-color: yellow;
        border-color: yellow;
    }
} 

.carousel{
    position: relative;
}
.carousel-caption{
    position: absolute;
    top: 30%;
    display: flex;
    flex-direction: column;
}
/* .carousel-caption img{
    width: 500px;
    height: 300px;
    height: 100vh;
} */
.main-head{
    text-align: center;
    font-size: 45px;
    padding-top: 30px;
}
.class-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.happn-img{
    width: 600px;
    height: 400px;
    border-radius: 10px;
}
.class-detail h1{
    color: orange;
}
.class-detail h2{
    font-size: 40px;
}
.class-detail p{
    font-size: 20px;
}
.about{
    /* background:linear-gradient(to bottom,rgb(64, 64, 223),rgb(89, 149, 202)), aliceblue; */
    background-color: blue;
    margin-top: 100px;
    color: white;
    font-weight: bold;
    padding-left: 10px;
}
.about-p{
    font-size: 20px;
}
.about-p span{
    transform: scale(1.1);
    transition: 1s ease;
}
.Services{
    margin-top: 100px;
}
.ser-card{
    margin-top: 50px;
}
.card1{
    background-image:linear-gradient(rgba(22, 21, 21, 0.5),rgba(94, 93, 93, 0.8)), url('https://www.cmdsport.com/app/uploads/2019/01/recomiendan-exigir-profesionales-cualificados-a-los-gimnasios-1050x700.jpg');
    background-size: cover;
    color: white;
}
.card2{
    background-image:linear-gradient(rgba(22, 21, 21, 0.5),rgba(94, 93, 93, 0.8)), url('https://www.bodybuilding.com/images/2019/july/best-beginner-weight-training-guide-with-easy-to-follow-workout-header-b-830x467.jpg');
    background-size: cover;
    color: white;
}
.card3{
    background-image:linear-gradient(rgba(22, 21, 21, 0.5),rgba(94, 93, 93, 0.8)), url('https://web-back.perfectgym.com/sites/default/files/styles/460x/public/fitness%20certification%203.jpg?itok=JaaYAlZx');
    background-size: cover;
    color: white;
}
.card4{
    background-image:linear-gradient(rgba(22, 21, 21, 0.5),rgba(94, 93, 93, 0.8)), url('https://assets-global.website-files.com/63695e3c58fff2340c868780/637799ad964b87332a85fdb8_61307e05ebef60d83e23d828_1.jpeg');
    background-size: cover;
    color: white;
}
.Services .card:hover{
    box-shadow: rgb(123, 131, 200) 0px 0px 10px 10px;

}
#learn{
    background-color:rgb(64, 64, 223);
}
#learn:hover{
    background-color: red;
    border: red;
}
.card-title{
    font-weight: bold;
}
table{
    border: 3px solid;
    /* margin-top: 30px; */
    margin-right: 20px;
    margin-left: 30px;
    transform:skewX(5deg);
}
tr{
    border: 3px solid;
}
th{
    border: 3px solid white;
    padding: 10px 85px 10px 85px;
    font-size: 25px;
    background-color: rgb(64, 64, 223);
    color: white;
}
td{
    border: 3px solid;
    font-size: 20px;
    text-align: center;
    color: white
}
.rate{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* background-color: white; */
    
}

.open{
    display: flex;
    justify-content: center;
    align-items: center;
}
.open img{
    border-radius: 50%;
    width: 450px;
    animation: open 2s ease-in 1s infinite;
}
@keyframes open {
    50%{
        transform: scale(0.5);
    }
    
    100%{
        transform: scale(1);
    }
     50%{
        transform: scale(0.5);
    }
}
.Time{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: yellow;
    text-shadow: 2px 2px 2px red;
    font-weight: bold;
    animation: time 0.5s ease-in 2s infinite;
    font-style: italic;
    /* background-color: aqua; */
}
.Time h1{
    font-size: 60px;
    padding: 10px;
}
.Time h3{
    font-size: 35px;
    padding: 10px;
}
@keyframes time {
    0%{
        color: yellow;
        text-shadow: 2px 2px 2px red;
    }
    25%{
        color: red;
        text-shadow: 2px 2px 2px yellow;
        
    }
    50%{
        color: yellow;
        text-shadow: 2px 2px 2px red;
    }
    100%{
        color: red;
        text-shadow: 2px 2px 2px yellow;
    }
}
.Trainers{
    margin-top: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: blue;
}

.Trainers img{
    width: 280px;
    height: 280px;
    border-radius: 100%;
    border: 15px solid black;
    /* box-shadow: black 0px 0px 10px 10px; */
}
.Trainers img:hover{
    transform: scale(1.1);
    transition: 1s ease;
}
.Trainers .col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Reviews{
    margin-top: 100px;
}
.card-image{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-image img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    margin-top: 50px;
}
.card-body h4{
    font-weight: bold;
}
.review .card{
    background-color: white;
    box-shadow: rgb(123, 131, 200) 0px 0px 10px 10px;
    margin-top: 60px;

}
.review{
    /* margin-top: 80px; */
    padding-bottom: 60px;
}
.footer{
    /* margin-top: 100px; */
    background-color: rgb(119, 115, 115);
}
.fa-instagram{
    color: rgb(181, 56, 148);
}
.sm-display{
    display: none;
}
@media (max-width:990px)
{
    .sm-display{
        display: block;
    }
    .lg-display{
        display: none;
    }
}
@media (max-width:835px){
    .carousel-caption{
        position: absolute;
        top: 20%;
        display: flex;
        flex-direction: column;
    }
    .carousel-item h1{
        font-size: 60px;
        /* color: rgb(60, 2, 2); */
        font-weight: bold;
        font-family:Black Ops One;
        /* color: rgb(6, 176, 249); */
    }
    .carousel-item img{
        height: 680px;
        /* opacity: .9; */
    }
    .caroubtn{
        padding: 20px 40px 20px 40px;
        width: 350px;
        margin-top: 80px;
        font-size: 25px;
        border-radius: 30px;
        background-color: yellow;
        border-color: yellow;
        color: white;
        font-weight: bold;
        animation: btn 0.2s ease-in-out 1s infinite;
    }
}
@media (max-width:700px){
    .carousel-caption{
        position: absolute;
        top: 20%;
        display: flex;
        flex-direction: column;
    }
    .carousel-item h1{
        font-size: 50px;
        /* color: rgb(60, 2, 2); */
        font-weight: bold;
        font-family:Black Ops One;
        /* color: rgb(6, 176, 249); */
    }
    .carousel-item img{
        height: 600px;
        /* opacity: .9; */
    }
    .caroubtn{
        padding: 20px 30px 20px 30px;
        width: 320px;
        margin-top: 80px;
        font-size: 25px;
        border-radius: 30px;
        background-color: yellow;
        border-color: yellow;
        color: white;
        font-weight: bold;
        animation: btn 0.2s ease-in-out 1s infinite;
    }
}
@media (max-width:768px)
{
    .happn-img{
        width: 500px;
        height: 350px;
        border-radius: 10px;
    }
}
@media (max-width:580px)
{
    .happn-img{
        width: 400px;
        height: 250px;
        border-radius: 10px;
    }
    table{
        border: 3px solid;
        /* margin-top: 30px; */
        margin-right: 20px;
        margin-left: 30px;
        margin-top: -60px;
        transform:skewX(5deg);
    }
    th{
        border: 3px solid white;
        padding: 10px 60px 10px 60px;
        font-size: 25px;
        background-color: rgb(64, 64, 223);
        color: white;
    }
    .carousel-caption{
        position: absolute;
        top: 20%;
        display: flex;
        flex-direction: column;
    }
    .carousel-item h1{
        font-size: 40px;
        /* color: rgb(60, 2, 2); */
        font-weight: bold;
        font-family:Black Ops One;
        /* color: rgb(6, 176, 249); */
    }
    .main-head{
        font-size: 35px;
    }
    .carousel-item img{
        height: 500px;
        /* opacity: .9; */
    }
    .caroubtn{
        padding: 20px 30px 20px 30px;
        width: 250px;
        margin-top: 60px;
        font-size: 20px;
        border-radius: 30px;
        background-color: yellow;
        border-color: yellow;
        color: white;
        font-weight: bold;
        animation: btn 0.2s ease-in-out 1s infinite;
    }
}

@media (max-width:418px)
{
    .happn-img{
        width: 340px;
        height: 230px;
        border-radius: 10px;
    }
    th{
        border: 3px solid white;
        padding: 10px 50px 10px 50px;
        font-size: 25px;
        background-color: rgb(64, 64, 223);
        color: white;
    }
    .centr{
        justify-content: start;
    }
    .carousel-caption{
        position: absolute;
        top: 20%;
        display: flex;
        flex-direction: column;
    }
    .carousel-item h1{
        font-size: 27px;
        /* color: rgb(60, 2, 2); */
        font-weight: bold;
        font-family:Black Ops One;
        /* color: rgb(6, 176, 249); */
    }
    .main-head{
        font-size: 24px;
    }
    .carousel-item img{
        height: 350px;
        /* opacity: .9; */
    }
    .caroubtn{
        padding: 20px 10px 20px 10px;
        width: 170px;
        margin-top: 30px;
        font-size: 15px;
        border-radius: 30px;
        background-color: yellow;
        border-color: yellow;
        color: white;
        font-weight: bold;
        animation: btn 0.2s ease-in-out 1s infinite;
    }
}
